@import "tailwindcss";

@layer base{
.smoo {
  border: none;
  position: relative;
  cursor: pointer;
  display: block;
}

.smoo::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0; /* underline effect */
  width: 100%;
  border-bottom: 2px solid rgb(75, 74, 74);
  border-radius: 2px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.2s ease-in-out;
  display:block;
}
.smoo:hover::after {
  transform: scaleX(1);
  transform-origin: right;
}
}